<h1>The Greatest</h1>

<h2> Let's add new doses</h2>

<%= simple_form_for [cocktail, dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient, input_html: { class: "beautiful-dropdown" }, include_hidden: false %>
  <%= f.submit "Let's add your dose to this cocktail", class: "btn btn-primary" %>
<% end %>

